<div class="container">
  <div class="forgot-password-box">
    <p class="text-center">Enter your email to reset your password.</p>
    <form
      class="forgot-password-form"
      (ngSubmit)="forgotPassword()"
      #forgotPasswordForm="ngForm"
    >
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          ngModel
          required
        />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
