/* home.component.css */

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  background-color: #f8f9fa;
}

.destination-box {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.destination-description {
  font-size: 18px;
  color: #333;
  margin-top: 10px;
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.carousel {
  margin-bottom: 20px; /* Add margin to the bottom of the carousel */
}
.carousel-item {
  height: 400px;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-indicators li {
  border: 2px solid #fff;
  background-color: transparent;
}

.carousel-indicators .active {
  background-color: #fff;
}

.card:hover img {
  transform: scale(1.1); /* Increase the size by 10% */
  transition: transform 0.3s ease; /* Apply a smooth transition */
}

.card {
  border: none;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: transparent;
}

.carousel-control-prev-icon:before,
.carousel-control-next-icon:before {
  color: #fff;
  font-size: 24px;
}

.footer a {
  color: #777;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #333;
}
.popular-destinations {
  margin-top: 20px; /* Add margin to the top of the popular destinations section */
}
.popular-destinations .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.popular-destinations .col-md-4 {
  flex: 0 0 calc(33.33% - 20px); /* Adjust width with margin */
  margin-bottom: 20px;
}

.popular-destinations .card {
  width: 100%;
}

.popular-destinations .card .card-img-top {
  height: 200px;
  object-fit: cover;
}

.ratings {
  display: inline-block;
}

.rating {
  color: #ffc107; /* Star color */
}

.star {
  font-size: 18px;
}

.star.filled {
  color: #ffc107; /* Filled star color */
}

.welcome-section {
  background-color: #f8f9fa; /* Light background color */
  padding: 30px 20px; /* Reduced padding */
}

.welcome-content {
  text-align: center;
}

.welcome-heading {
  font-size: 2.5rem; /* Font size for heading */
  font-weight: bold;
  color: #333; /* Dark text color */
}

.welcome-text {
  font-size: 1.25rem; /* Font size for text */
  color: #666; /* Darker text color */
  margin-top: 20px; /* Increased margin */
}
/* Quick and Easy Trip Planner Section  */

.trip-planner {
  text-align: left;
  margin-bottom: 30px;
}

/* home.component.css */

/* Button styles */
.button-group button {
  margin-right: 10px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.button-group button i {
  margin-right: 5px;
}

/* Primary button */
.button-group .btn-primary {
  background-color: #007bff;
  color: #fff;
}

.button-group .btn-primary:hover {
  background-color: #0056b3;
}

/* Secondary button */
.button-group .btn-secondary {
  background-color: #6c757d;
  color: #fff;
}

.button-group .btn-secondary:hover {
  background-color: #545b62;
}

/* Success button */
.button-group .btn-success {
  background-color: #28a745;
  color: #fff;
}

.button-group .btn-success:hover {
  background-color: #218838;
}

/* Danger button */
.button-group .btn-danger {
  background-color: #dc3545;
  color: #fff;
}

.button-group .btn-danger:hover {
  background-color: #c82333;
}

/* Info button */
.button-group .btn-info {
  background-color: #17a2b8;
  color: #fff;
}

.button-group .btn-info:hover {
  background-color: #138496;
}


