<div class="container">
  <!-- Welcome Section -->
  <div class="welcome-section">
    <div class="welcome-content">
      <h1 class="welcome-heading">Welcome to our Travel World!</h1>
      <p class="welcome-text">
        Discover amazing destinations and plan your next adventure.
      </p>
      <blockquote class="blockquote">
        <p class="mb-0">
          "Traveling – it leaves you speechless, then turns you into a
          storyteller."
        </p>
      </blockquote>
    </div>
  </div>

  <!-- Featured Destinations Carousel -->
  <div class="featured-destinations">
    <h2>Featured Destinations</h2>
    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-ride="carousel"
      data-interval="5000"
    >
      <!-- Adjust the interval as needed -->
      <div class="carousel-inner">
        <div
          *ngFor="let destination of destinations; let i = index"
          class="carousel-item"
          [ngClass]="{ active: i === activeSlideIndex }"
        >
          <img
            [src]="destination.imageUrl"
            class="d-block w-100"
            alt="{{ destination.name }}"
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>{{ destination.name }}</h5>
          </div>
        </div>
      </div>
      <a
        class="carousel-control-prev"
        (click)="prevSlide()"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        (click)="nextSlide()"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <!-- Popular Destinations Section -->
  <div class="popular-destinations">
    <div class="row">
      <div class="col-md-4" *ngFor="let destination of destinations">
        <div class="card">
          <img
            [src]="destination.imageUrl"
            class="card-img-top"
            alt="{{ destination.name }}"
          />
          <div class="card-body">
            <h5 class="card-title">{{ destination.name }}</h5>
            <p class="card-text">{{ destination.description }}</p>
            <div class="ratings">
              <span class="rating">
                <span
                  *ngFor="let _ of [0, 1, 2, 3, 4]"
                  class="star"
                  [ngClass]="{ filled: destination.rating > _ }"
                  >&#9733;</span
                >
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Explore India Section -->
  <h2>Explore India</h2>
  <div class="explore-india">
    <div class="row">
      <!-- First two images in one row -->
      <div
        *ngFor="let destination of exploreIndiaDestinations.slice(0, 2)"
        class="col-md-6 mb-4"
      >
        <div class="card">
          <img
            [src]="destination.imageUrl"
            class="card-img-top"
            alt="{{ destination.name }}"
          />
          <div class="card-body">
            <h5 class="card-title">{{ destination.name }}</h5>
            <!-- No description for Explore India -->
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Next three images in the next row -->
      <div
        *ngFor="let destination of exploreIndiaDestinations.slice(2, 5)"
        class="col-md-4 mb-4"
      >
        <div class="card">
          <img
            [src]="destination.imageUrl"
            class="card-img-top"
            alt="{{ destination.name }}"
          />
          <div class="card-body">
            <h5 class="card-title">{{ destination.name }}</h5>
            <!-- No description for Explore India -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Quick and Easy Trip Planner Section -->
  <div class="trip-planner">
    <h2>Quick and easy trip planner</h2>
    <p>Pick a vibe and explore the top destinations in India</p>
    <div class="button-group">
      <button class="btn btn-primary"><i class="fas fa-city"></i> City</button>
      <button class="btn btn-primary">
        <i class="fas fa-heart"></i> Romance
      </button>
      <button class="btn btn-primary">
        <i class="fas fa-beach"></i> Beach
      </button>
      <button class="btn btn-primary">
        <i class="fas fa-tree"></i> Outdoors
      </button>
    </div>
  </div>
  <!-- Stay at our top unique properties -->
  <div class="unique-properties">
    <h2>Stay at our top unique properties</h2>
    <p>From castles and villas to boats and igloos, we've got it all</p>

    <!-- Carousel for hotels -->
    <div id="hotelCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="hotel-list">
            <div class="hotel">
              <h3>Hotel 1</h3>
              <p>
                Rating:
                <span class="rating"
                  >&#9733; &#9733; &#9733; &#9733; &#9733;</span
                >
              </p>
            </div>
            <!-- Add more hotels as needed -->
          </div>
        </div>
        <div class="carousel-item">
          <div class="hotel-list">
            <div class="hotel">
              <h3>Hotel 2</h3>
              <p>
                Rating:
                <span class="rating"
                  >&#9733; &#9733; &#9733; &#9733; &#9734;</span
                >
              </p>
            </div>
            <!-- Add more hotels as needed -->
          </div>
        </div>
        <!-- Add more carousel items with hotels -->
      </div>
      <a
        class="carousel-control-prev"
        href="#hotelCarousel"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#hotelCarousel"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <p>Today's date is {{ today | date }}</p>
</div>
