<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="form-box">
      <h1 class="form-header">Travel World</h1>
      <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)">
        <table class="form-table">
          <tr>
            <td>
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-user"></i>
                  </span>
                  <input
                    type="text"
                    class="form-control"
                    name="email"
                    #email="ngModel"
                    ngModel
                    required
                    minlength="2"
                    maxlength="30"
                    placeholder="Enter your email"
                  />
                </div>
                <div
                  *ngIf="email.errors?.['required'] && email.touched"
                  class="error-message"
                >
                  Please provide the Email-Id
                </div>
                <div
                  *ngIf="email.errors?.['minlength'] && email.touched"
                  class="error-message"
                >
                  Please provide at least 2 characters for Email-Id
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-lock"></i>
                  </span>
                  <input
                    type="password"
                    class="form-control"
                    name="password"
                    #password="ngModel"
                    ngModel
                    required
                    minlength="2"
                    maxlength="10"
                    placeholder="Enter your password"
                  />
                </div>
                <div
                  *ngIf="password.errors?.['required'] && password.touched"
                  class="error-message"
                >
                  Please provide the Password
                </div>
                <div
                  *ngIf="password.errors?.['minlength'] && password.touched"
                  class="error-message"
                >
                  Please provide at least 2 characters for Password
                </div>
              </div>
            </td>
          </tr>

          <div>
            
          </div>
          
          <tr>
            <td>
                <ngx-recaptcha2 #captchaElem [siteKey]="siteKey"></ngx-recaptcha2>
            </td>
        </tr> 
            <tr>
  
           <td>

          <tr>
            <td>

              <button [disabled]="!loginForm.valid" class="btn btn-primary">
                Login
              </button>
              <a routerLink="/forgot-password" class="forgot-password">Forgot Password?</a
              >
            </td>
          </tr>
          <tr>
            <td class="new-user">
              New User? <a routerLink="/register">Sign Up</a>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </body>
</html>
