.form-box {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .form-header {
    color: #007bff;
    text-align: center;
    margin-bottom: 30px;
  }

  .form-table {
    width: 100%;
  }

  .input-group {
    margin-bottom: 25px;
    position: relative;
  }

  .input-group-addon {
    background-color: #f2f2f2;
    border: none;
    font-size: 16px;
    vertical-align: middle;
    width: 40px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  .form-control {
    border-radius: 0;
    border: 1px solid #ced4da;
    padding-left: 40px;
  }

  .form-control:focus {
    border-color: #007bff;
    box-shadow: none;
  }

  .btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 20px;
    width: 100%;
  }

  .btn-primary:hover {
    background-color: #0056b3;
  }

  .error-message {
    font-size: 14px;
    color: red;
    margin-top: 5px;
  }

  .forgot-password {
    float: right;
    margin-top: 10px;
  }

  .new-user {
    margin-top: 20px;
    text-align: center;
  }

  .new-user a {
    color: #007bff;
  }