<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel World - Sign Up</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }

      .container {
        max-width: 500px;
        margin: 50px auto;
        padding: 20px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      .registration-box {
        padding: 30px;
      }

      .registration-box h1 {
        color: #007bff;
        text-align: center;
        margin-bottom: 30px;
      }

      .input-group {
        margin-bottom: 20px;
        position: relative;
      }

      .input-group-addon {
        background-color: #f2f2f2;
        border: none;
        font-size: 16px;
        width: 40px;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }

      .form-control {
        border-radius: 0;
        border: 1px solid #ced4da;
        padding-left: 40px;
      }

      .error-message {
        font-size: 14px;
        color: red;
        margin-top: 5px;
      }

      .btn-primary {
        background-color: #007bff;
        border: none;
        border-radius: 20px;
        width: 100%;
        padding: 10px;
        cursor: pointer;
      }

      .btn-primary:hover {
        background-color: #0056b3;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="registration-box">
        <h1>Sign Up for Travel World</h1>
        <form (ngSubmit)="customerRegister()" #registerForm="ngForm" novalidate>
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-user"></i>
            </span>
            <input
              type="text"
              class="form-control"
              placeholder="Enter Your Name"
              name="fullName"
              [(ngModel)]="fullName"
              #fullNameField="ngModel"
              required
              minlength="3"
              maxlength="20"
            />
          </div>
          <div
            *ngIf="
              fullNameField.errors &&
              (fullNameField.dirty || fullNameField.touched)
            "
          >
            <div class="error-message" *ngIf="fullNameField.errors['required']">
              Name is required.
            </div>
            <div
              class="error-message"
              *ngIf="
                fullNameField.errors['minlength'] ||
                fullNameField.errors['maxlength']
              "
            >
              Name must be between 3 and 20 characters.
            </div>
          </div>
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-envelope"></i>
            </span>
            <input
              type="email"
              class="form-control"
              placeholder="Enter Your Email-Id"
              name="email"
              [(ngModel)]="email"
              #emailField="ngModel"
              required
            />
          </div>
          <div
            *ngIf="
              emailField.errors && (emailField.dirty || emailField.touched)
            "
          >
            <div class="error-message" *ngIf="emailField.errors['required']">
              Email is required.
            </div>
            <div class="error-message" *ngIf="emailField.errors['email']">
              Please enter a valid email address.
            </div>
          </div>
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-lock"></i>
            </span>
            <input
              type="password"
              class="form-control"
              placeholder="Enter Your Password"
              name="password"
              [(ngModel)]="password"
              #passwordField="ngModel"
              required
              minlength="8"
            />
          </div>
          <div
            *ngIf="
              passwordField.errors &&
              (passwordField.dirty || passwordField.touched)
            "
          >
            <div class="error-message" *ngIf="passwordField.errors['required']">
              Password is required.
            </div>
            <div
              class="error-message"
              *ngIf="passwordField.errors['minlength']"
            >
              Password must be at least 8 characters long.
            </div>
          </div>
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-lock"></i>
            </span>
            <input
              type="password"
              class="form-control"
              placeholder="Confirm Your Password"
              name="confirmPassword"
              [(ngModel)]="confirmPassword"
              #confirmPasswordField="ngModel"
              required
            />
          </div>
          <div
            *ngIf="
              confirmPasswordField.errors &&
              (confirmPasswordField.dirty || confirmPasswordField.touched)
            "
          >
            <div
              class="error-message"
              *ngIf="confirmPasswordField.errors['required']"
            >
              Confirming password is required.
            </div>
            <div
              class="error-message"
              *ngIf="
                password !== confirmPassword && confirmPasswordField.errors
              "
            >
              Passwords do not match!
            </div>
          </div>
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-phone"></i>
            </span>
            <input
              type="tel"
              class="form-control"
              placeholder="Enter Your Phone Number"
              name="phoneNumber"
              [(ngModel)]="phoneNumber"
              #phoneNumberField="ngModel"
              required
              pattern="^[0-9]{10}$"
            />
          </div>
          <div
            *ngIf="
              phoneNumberField.errors &&
              (phoneNumberField.dirty || phoneNumberField.touched)
            "
          >
            <div
              class="error-message"
              *ngIf="phoneNumberField.errors['required']"
            >
              Phone number is required.
            </div>
            <div
              class="error-message"
              *ngIf="phoneNumberField.errors['pattern']"
            >
              Please enter a valid phone number (10 digits).
            </div>
          </div>
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-id-card"></i>
            </span>
            <input
              type="text"
              class="form-control"
              placeholder="Enter Your Aadhar Number"
              name="aadharNumber"
              [(ngModel)]="aadharNumber"
              #aadharNumberField="ngModel"
              required
              minlength="12"
              maxlength="12"
            />
          </div>
          <div
            *ngIf="
              aadharNumberField.errors &&
              (aadharNumberField.dirty || aadharNumberField.touched)
            "
          >
            <div
              class="error-message"
              *ngIf="aadharNumberField.errors['required']"
            >
              Aadhar number is required.
            </div>
            <div
              class="error-message"
              *ngIf="
                aadharNumberField.errors['minlength'] ||
                aadharNumberField.errors['maxlength']
              "
            >
              Aadhar number must be exactly 12 digits long.
            </div>
          </div>
          <div class="form-group">
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="!registerForm.valid || password !== confirmPassword"
            >
              Register
            </button>
          </div>
          <div>
            <p style="text-align: center">
              Already have an account? <a href="/login">Log in</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
