body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registration-box {
  padding: 30px;
}

.registration-box h1 {
  color: #007bff;
  text-align: center;
  margin-bottom: 30px;
}

.input-group {
  margin-bottom: 20px;
  position: relative;
}

.input-group-addon {
  background-color: #f2f2f2;
  border: none;
  font-size: 16px;
  width: 40px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.form-control {
  border-radius: 0;
  border: 1px solid #ced4da;
  padding-left: 40px;
}

.error-message {
  font-size: 14px;
  color: red;
  margin-top: 5px;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  border-radius: 20px;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}