<div *ngFor="let package of holidayPackages">
  <h2>{{ package.destination }}</h2>
  <!-- <img [src]="package.imageUrl" alt="{{ package.destination }}" /> -->
  <p>{{ package.description }}</p>

  <h3>Points of Interest</h3>
  <ul>
    <li *ngFor="let point of package.pointsOfInterest">{{ point }}</li>
  </ul>

  <h3>User Reviews</h3>
  <div *ngFor="let review of package.reviews">
    <p>{{ review.userName }}: {{ review.rating }}/5</p>
    <p>{{ review.comment }}</p>
  </div>
</div>
