<header>
  <nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img
        src="../../assets/logo/website.png"
        alt="Travel Website Logo"
        height="80"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/home"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            routerLink="/destinations"
            >Destinations</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/contact"
            >Contact</a
          >
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="!authenticated">
          <a class="nav-link btn btn-primary" routerLink="/login">Login</a>
        </li>
        <li class="nav-item" *ngIf="!authenticated">
          <a class="nav-link btn btn-success" routerLink="/register"
            >Register</a
          >
        </li>
        <li class="nav-item" *ngIf="authenticated">
          <div class="logout-link">
            <a class="nav-link btn btn-danger" (click)="logout()">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
