<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>About Us</h5>
        <p>
          Welcome to our travel website! We are dedicated to helping you explore
          the world and plan your next adventure. Whether you're looking for
          exotic destinations, breathtaking landscapes, or cultural experiences,
          we've got you covered. Our team of travel experts curates the best
          destinations and tips to make your journey memorable.
        </p>
      </div>
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/destinations">Destinations</a></li>
          <li><a routerLink="/contact">Contact Us</a></li>
          <!-- Add more links as needed -->
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contact Us</h5>
        <address>
          123 Main Street<br />
          City, State, ZIP<br />
          Phone: (123) 456-7890<br />
          Email: info&#64;example.com
        </address>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-6">
        <p>&copy; 2024 Your Company. All rights reserved.</p>
      </div>
      <div class="col-md-6 text-right">
        <!-- Bootstrap icons -->
        <i class="bi bi-facebook social-icon"></i>
        <i class="bi bi-twitter social-icon"></i>
        <i class="bi bi-instagram social-icon"></i>
        <!-- Add more social media icons as needed -->
      </div>
    </div>
  </div>
</footer>
