.footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
  }
  
  .footer h5 {
    color: #fff;
  }
  
  .footer p {
    font-size: 14px;
  }
  
  .footer a {
    color: #fff;
  }
  
  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer hr {
    border-top: 1px solid #666;
  }
  
  .footer .social-icon {
    color: #fff;
    font-size: 20px;
    margin-left: 10px;
  }
  
  .footer .social-icon:hover {
    color: #ffc107;
  }
  